---
layout: default
---

<div class="home">
  {%- if page.title -%}
    <h1 class="page-heading">{{ page.title }}</h1>
  {%- endif -%}

  {{ content }}

  {%- if site.posts.size > 0 -%}
    <h2 class="post-list-heading">{{ page.list_title | default: "Posts" }}</h2>
    <ul class="post-list">
      {%- if paginator -%}
        {%- for post in paginator.posts -%}
        <li>
          {%- assign date_format = site.minima.date_format | default: "%b %-d, %Y" -%}
          <span class="post-meta">{{ post.date | date: date_format }}</span>
          <h3>
            <a class="post-link" href="{{ post.url | relative_url }}">
              {{ post.title | escape }}
            </a>
          </h3>
          {%- if site.show_excerpts -%}
            {{ post.excerpt }}
          {%- endif -%}
        </li>
        {%- endfor -%}
      {%- else -%}
        {%- for post in site.posts -%}
        <li>
          {%- assign date_format = site.minima.date_format | default: "%b %-d, %Y" -%}
          <span class="post-meta">{{ post.date | date: date_format }}</span>
          <h3>
            <a class="post-link" href="{{ post.url | relative_url }}">
              {{ post.title | escape }}
            </a>
          </h3>
          {%- if site.show_excerpts -%}
            {{ post.excerpt }}
          {%- endif -%}
        </li>
        {%- endfor -%}
      {%- endif -%}
    </ul>

    {%- if paginator -%}
      <nav class="pagination">
        {%- if paginator.previous_page -%}
          <a href="{{ paginator.previous_page_path | relative_url }}" class="pagination-previous" rel="prev">이전</a>
        {%- endif -%}
        
        {%- if paginator.page_trail -%}
          {%- for trail in paginator.page_trail -%}
            {%- if trail.path -%}
              <a href="{{ trail.path | relative_url }}" title="{{trail.title}}">{{ trail.num }}</a>
            {%- else -%}
              <span class="pagination-current">{{ trail.num }}</span>
            {%- endif -%}
          {%- endfor -%}
        {%- else -%}
          <span class="pagination-current">{{ paginator.page }} / {{ paginator.total_pages }}</span>
        {%- endif -%}
        
        {%- if paginator.next_page -%}
          <a href="{{ paginator.next_page_path | relative_url }}" class="pagination-next" rel="next">다음</a>
        {%- endif -%}
      </nav>
    {%- endif -%}

    <p class="rss-subscribe">subscribe <a href="{{ "/feed.xml" | relative_url }}">via RSS</a></p>
  {%- endif -%}

</div>
